@import '../../../../styles/common';

// ok
.m-letter--none {
  &::before {
    content: ' ';
    height: 100%;
    background-color: steelblue;
  }
}

.m-letter--checked {
  &::before {
    content: '✓';
    background-color: $co-color__primary--low;
  }
}

.m-letter--plus {
  &::before {
    content: '+';
    background-color: darkcyan;
  }
}

.m-letter--a {
  &::before {
    content: 'A';
    background-color: cornflowerblue;
  }
}

.m-letter--b {
  &::before {
    content: 'B';
    background-color: slategray;
  }
}

.m-letter--c {
  &::before {
    content: 'C';
    background-color: peru;
  }
}

.m-letter--d {
  &::before {
    content: 'D';
    background-color: tomato;
  }
}

.m-letter--e {
  &::before {
    content: 'E';
    background-color: firebrick;
  }
}

.m-letter--f {
  &::before {
    content: 'F';
    background-color: forestgreen;
  }
}

.m-letter--g {
  &::before {
    content: 'G';
    background-color: darkorchid;
  }
}

.m-letter--h {
  &::before {
    content: 'H';
    background-color: darkslateblue;
  }
}

.m-letter--i {
  &::before {
    content: 'I';
    background-color: palevioletred;
  }
}

.m-letter--j {
  &::before {
    content: 'J';
    background-color: mediumorchid;
  }
}

.m-letter--k {
  &::before {
    content: 'K';
    background-color: darkolivegreen;
  }
}

.m-letter--l {
  &::before {
    content: 'L';
    background-color: lightskyblue;
  }
}

.m-letter--m {
  &::before {
    content: 'M';
    background-color: darkkhaki;
  }
}

.m-letter--n {
  &::before {
    content: 'N';
    background-color: olivedrab;
  }
}

.m-letter--o {
  &::before {
    content: 'O';
    background-color: mediumpurple;
  }
}

.m-letter--p {
  &::before {
    content: 'P';
    background-color: cadetblue;
  }
}

.m-letter--q {
  &::before {
    content: 'Q';
    background-color: saddlebrown;
  }
}

.m-letter--r {
  &::before {
    content: 'R';
    background-color: midnightblue;
  }
}

.m-letter--s {
  &::before {
    content: 'S';
    background-color: teal;
  }
}

.m-letter--t {
  &::before {
    content: 'T';
    background-color: turquoise;
  }
}

.m-letter--u {
  &::before {
    content: 'U';
    background-color: orangered;
  }
}

.m-letter--v {
  &::before {
    content: 'V';
    background-color: seagreen;
  }
}

.m-letter--w {
  &::before {
    content: 'W';
    background-color: olive;
  }
}

.m-letter--x {
  &::before {
    content: 'X';
    background-color: darkmagenta;
  }
}

.m-letter--y {
  &::before {
    content: 'Y';
    background-color: indigo;
  }
}

.m-letter--z {
  &::before {
    content: 'Z';
    background-color: chocolate;
  }
}
